html {
  -webkit-user-select: none;
}
.content {
  max-width: 500px;
  margin: auto;
}
 h1{
    text-align: center;
    font-size: 50px;
 }
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 50px;
  text-align: center;
  height: 80px;
  width: 80px;
  
}

td
{
  font-size: 110px;
  width: 150px;
  text-align:center;
  padding: 27px;
  
}
